@use 'mediaqueries';

.hero{
    padding: clamp(2rem, 8vh + .01rem, 10rem) 0 clamp(1.5rem, 6vh + .01rem, 7rem);
}

.hero_main_content{
    display: flex;
    flex-direction: column;
    gap: clamp(.5rem, 1.5vh + .01rem, 10rem);
}

.hero_p{
    font-weight: 400;

    @media all and (min-width: mediaqueries.$mq-desktop-min){
        width: 51ch;
    }
}

.hero_btn_wpr{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media all and (min-width: mediaqueries.$mq-tablet-sm){
        flex-direction: row;
    }

    a{
        width: 27ch;
        margin-bottom: 1em;

        @media all and (min-width: mediaqueries.$mq-tablet-sm){
            margin-right: 1em;
            margin-bottom: 0;
        }
    }
}

.about_section{
    position: relative;
    overflow: hidden;
}

.about_text{
    @media all and (min-width: mediaqueries.$mq-desktop-min){
        width: 58ch;
    }
}

.portrait_wpr{
    transform: translateY(clamp(4rem, 7vh + .01rem, 10rem));

    @media all and (min-width: mediaqueries.$mq-desktop-min){
        transform: translateY(0);
        position: absolute;
        right: -16%;
        bottom: 0;
        height: 115%;
        width: 60vw;
        z-index: 2;
        overflow: hidden;
        object-fit: contain;
    }

    span{
        display: block !important;
        height: 100% !important;
    }

    img{
        display: block;

        @media all and (min-width: mediaqueries.$mq-desktop-min){
            object-fit: contain;
        }
    }
}
